
@media only screen and (max-width: 768px) {
  .framed-photo{
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .opisanie{
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
  }

  .harakteristika {
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
  }

  .bronirovat{
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
  }

  button {
    padding: 10px 20px;
  }

} 

@media only screen and (max-width: 480px) {
  .framed-photo{
    height: 200px;
    margin-left: 5px;
  }

  .opisanie{
    margin-left: 5px;
    padding: 10px;
    width: 90%;
  }

  .harakteristika {
    margin-left: 5px;
    width: 90%;
  }

  .bronirovat{
    margin-left: 5px;
    width: 90%;
  }

  button {
    padding: 5px 10px;
  }

}



